@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@source 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap';




body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

@theme {
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 1680px;
  --breakpoint-4xl: 2200px;

  --color-green-50: #30AF5B;
  --color-green-90: #292C27;

  --color-gray-10: #EEEEEE;
  --color-gray-20: #A2A2A2;
  --color-gray-30: #7B7B7B;
  --color-gray-50: #585858;
  --color-gray-90: #141414;

  --color-orange-50: #FF814C;

  --color-blue-70: #021639;

  --color-yellow-50: #FEC601;

  --radius-5xl: 40px;

  --container-max-w-10xl: 1512px;

  --bg-img-1: url('/img-1.png');
  --bg-img-2: url('/img-2.png');
  --feature-bg: url('/feature-bg.png');

}

@utility btn_white {
  @apply border-white bg-white px-8 py-3 text-green-50
}

@utility btn_white_text {
  @apply border-white bg-white px-8 py-3 text-gray-90
}

@utility btn_green {
  @apply border-green-50 bg-green-50 px-8 py-5 text-white
}
@utility btn_green_2 {
  @apply bg-green-50 px-8 py-4 text-white transition-all hover:bg-black
}

@utility btn_dark_green {
  @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
}

@utility btn_dark_green_outline {
  @apply  border-gray-10 bg-green-90 px-8 py-4 text-white hover:bg-orange-50
}
@utility btn_dark_green_outline {
  @apply border border-gray-10 bg-green-90 px-8 py-4 text-white hover:bg-green-50
}

@utility max-container {
  @apply mx-auto max-w-[1440px];
}

@utility padding-container {
  @apply px-6 lg:px-20 3xl:px-0;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility flex-column {
  @apply flex flex-col;
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-start {
  @apply flex items-center justify-start;
}

@utility flex-end {
  @apply flex items-center justify-end;
}

/* FONTS */
@utility regular-64 {
  @apply text-[64px] font-[400] leading-[120%];
}

@utility regular-40 {
  @apply text-[40px] font-[400] leading-[120%];
}

@utility regular-32 {
  @apply text-[32px] font-[400];
}

@utility regular-24 {
  @apply text-[24px] font-[400];
}

@utility regular-20 {
  @apply text-[20px] font-[400];
}

@utility regular-18 {
  @apply text-[18px] font-[400];
}

@utility regular-16 {
  @apply text-[16px] font-[400];
}

@utility regular-14 {
  @apply text-[14px] font-[400];
}

@utility medium-14 {
  @apply text-[14px] font-[600];
}

@utility bold-88 {
  @apply text-[88px] font-[600] leading-[120%];
}

@utility bold-64 {
  @apply text-[64px] font-[600] leading-[120%];
}

@utility bold-52 {
  @apply text-[52px] font-[600] leading-[120%];
}

@utility bold-40 {
  @apply text-[40px] font-[600] leading-[120%];
}

@utility bold-32 {
  @apply text-[32px] font-[500] leading-[120%];
}

@utility bold-20 {
  @apply text-[20px] font-[500];
}

@utility bold-18 {
  @apply text-[18px] font-[500];
}

@utility bold-16 {
  @apply text-[16px] font-[700];
}

/* Hero */
@utility hero-map {
  @apply absolute right-0 top-0 h-screen w-screen bg-[url(/pattern-bg.png)] bg-cover bg-center md:-right-28 xl:-top-35 dark:invert;
}

/* Camp */
@utility camp-quote {
  @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
}

/* Feature */
@utility feature-bg {
  @apply  bg-[url(/feature-bg.png)] dark:invert;
}

@utility feature-phone {
  @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex 3xl:left-20;
}

/* Get App */
@utility get-app {
  @apply max-container relative flex w-full flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-[url(/pattern.png)] bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
}
@utility dark-no-color-change {
  @apply dark:invert mix-blend-difference dark:mix-blend-normal;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}